* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #0D0D10;
  color: rgba(255, 255, 255, 1);
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.card {
  background: rgba(22, 22, 26, 1);
  width: 60%;
  margin: auto;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.25);    
}

.card-inner {
  max-width: 400px;
  margin: auto;
}

.card h2 {
  text-align: center;
  margin-bottom: 5px;
  color: #2EC4B6;
}

hr {
  margin: 15px 0;
  border: 1px solid rgba(255, 255, 255, 1);
}

.input-group {
  margin-bottom: 15px;
  position: relative;
}

.input-group label {
  font-size: 14px;
}

.input-group input {
  width: 100%;
  padding: 12px;
  margin-top: 5px;
  border-radius: 20px;
  border: none;
  background: #222228;
  color: rgba(253, 253, 253, 1);
  outline: none;
  transition: 0.3s;
}

.input-group input:focus {
  box-shadow: 0 0 8px #2EC4B6;
}

.btn {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: 1px solid rgba(253, 253, 253, 1);
  background: rgba(34,34,40,0.2);
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background: #4fd1c5;
  color: #000;
}

.divider {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.divider span {
  flex: 1;
  height: 1px;
  background: rgba(253, 253, 253, 1);
}

.divider p {
  margin: 0 10px;
  font-size: 12px;
}

.login {
  text-align: center;
  font-size: 12px;
}

.login span {
  cursor: pointer;
}

.login a {
    text-decoration: none;
    color: #2EC4B6;
}